IPAS 登入系統.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-member-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        160
      ],
      "id": "f6c7fcb0-9cc4-4a7b-ac73-28c008193076",
      "name": "Webhook1",
      "webhookId": "2911667e-b156-4ea6-81ed-ccd6c425f28f"
    },
    {
      "parameters": {
        "jsCode": "// 取得要查詢的 Line User ID\nconst requestData = $input.first().json;\nconst userIdToCheck = $input.first().json.body.userId;\n\nif (!userIdToCheck) {\n  return [{\n    json: {\n      status: 'error',\n      message: '缺少 userId'\n    }\n  }];\n}\n\n// 判斷是 LINE 用戶（U 開頭）還是 Google 用戶\nconst isLineUser = userIdToCheck.startsWith('U');\n\n// 準備查詢條件\nreturn [{\n  json: {\n    searchUserId: userIdToCheck\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        160
      ],
      "id": "fe52572c-d92d-4d40-bfd0-b4878ab9dd0a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"{{ $('Code in JavaScript2').first().json.status }}\",\n  \"memberLevel\": \"{{ $('Code in JavaScript2').first().json.memberLevel }}\",\n  \"isPaid\": \"{{ $('Code in JavaScript2').first().json.isPaid }}\",\n  \"paid_until\": \"{{ $('Code in JavaScript2').first().json.paid_until }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        160
      ],
      "id": "eeea627c-f24f-4424-856b-cba64ed2c0a0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        480
      ],
      "id": "2bc31964-9915-4206-8f3c-027652f34fe1",
      "name": "接收 Webhook",
      "webhookId": "ca70a236-1fe9-40ae-a63f-bde9a8741170"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-options",
              "leftValue": "={{ $json.method }}",
              "rightValue": "OPTIONS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        480
      ],
      "id": "de818dc7-b61f-4988-a10f-b48b9110792f",
      "name": "檢查是否為 OPTIONS"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        384
      ],
      "id": "7a4635af-dee3-4553-a949-65551142c1af",
      "name": "回應 OPTIONS (CORS Preflight)"
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/profile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        576
      ],
      "id": "0bde37ab-a793-45f7-8810-6308f2fb3eb1",
      "name": "取得用戶資料"
    },
    {
      "parameters": {
        "jsCode": "// 從 Line Login 取得用戶資料\nconst userData = $input.first().json;\n\n// 檢查必要欄位\nif (!userData.userId) {\n  throw new Error('缺少 Line User ID');\n}\n\n// 準備會員資料\nconst memberData = {\n  line_user_id: userData.userId,\n  displayName: userData.displayName || '未知用戶',\n  email: userData.email || '',\n  member_level: '免費會員',\n  paid_until: '',\n  register_date: new Date().toISOString().split('T')[0],\n  pictureUrl: userData.pictureUrl || ''\n};\n\n// 記錄製作者資訊\nconsole.log('Workflow by Nick Chang | nickleo051216@gmail.com');\n\nreturn [{\n  json: memberData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        576
      ],
      "id": "c827bb91-4497-4893-8fa3-81dd9a089294",
      "name": "處理用戶資料"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g",
          "mode": "list",
          "cachedResultName": "社群iPAS 題庫",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 513684577,
          "mode": "list",
          "cachedResultName": "會員資料",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit#gid=513684577"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "line_user_id": "={{ $json.line_user_id }}",
            "register_date": "={{ $json.register_date }}",
            "displayName": "={{ $json.displayName }}",
            "pictureUrl": "={{ $json.pictureUrl }}",
            "last_login": "={{ $now }}"
          },
          "matchingColumns": [
            "line_user_id"
          ],
          "schema": [
            {
              "id": "line_user_id",
              "displayName": "line_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "displayName",
              "displayName": "displayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "member_level",
              "displayName": "member_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "paid_until",
              "displayName": "paid_until",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pictureUrl",
              "displayName": "pictureUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "register_date",
              "displayName": "register_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_login",
              "displayName": "last_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        672
      ],
      "id": "84facfa0-9226-4860-ac84-61ad96249a45",
      "name": "儲存到 Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZZgkB5gxJYCEKFNR",
          "name": "nickleo3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-member-level",
              "leftValue": "={{ $json.isPaid }}",
              "rightValue": "付費會員",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        672
      ],
      "id": "f45a9d0b-3a5f-4f25-9c9e-0a77691b3411",
      "name": "檢查會員等級"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"會員登入成功\",\n  \"needPayment\": false,\n  \"user\": {\n    \"userId\": \"{{ $('處理用戶資料').first().json.line_user_id }}\",\n    \"displayName\": \"{{ $('處理用戶資料').first().json.displayName }}\",\n    \"memberLevel\": \"{{ $json.member_level }}\",\n    \"pictureUrl\": \"{{ $('處理用戶資料').first().json.pictureUrl }}\"\n  },\n  \"creator\": {\n    \"name\": \"Nick Chang\",\n    \"email\": \"nickleo051216@gmail.com\",\n    \"phone\": \"0932-684-051\",\n    \"website\": \"https://portaly.cc/zn.studio\"\n  }\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2112,
        624
      ],
      "id": "a4dac5e9-1433-4f3d-aac2-1e6068b3dbcd",
      "name": "回應：付費會員"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/oauth2/v2.1/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "code",
              "value": "={{ $json.body.code }}"
            },
            {
              "name": "redirect_uri",
              "value": "https://nickleo9.github.io/GenAI/login-callback.html"
            },
            {
              "name": "client_id",
              "value": "2008218944"
            },
            {
              "name": "client_secret",
              "value": "7b1c0a3d05b2acfd91cc77329bbf9f15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        576
      ],
      "id": "c09c9bbb-f5e1-494d-9204-d27c01dd8e95",
      "name": "兌換 Access Token1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-practice-record",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "1440e376-90cc-49e6-99d2-31e4c4e55e59",
      "name": "接收前端請求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        128,
        1088
      ],
      "webhookId": "save-practice-record"
    },
    {
      "parameters": {
        "jsCode": "// 製作者: Nick Chang | nickleo051216@gmail.com\n// 功能: 處理前端送來的練習記錄資料\n\nconst inputData = $input.first().json.body;\n\n// 檢查必要欄位\nif (!inputData.userId) {\n  throw new Error('缺少 userId');\n}\n\nif (!inputData.databaseType) {\n  throw new Error('缺少 databaseType');\n}\n\n// 計算正確率\nconst accuracy = inputData.questionCount > 0 \n  ? (inputData.score / inputData.questionCount * 100).toFixed(2)\n  : 0;\n\n// 準備要儲存的資料\nconst practiceRecord = {\n  user_id: inputData.userId,\n  database_type: inputData.databaseType,\n  question_count: inputData.questionCount || 0,\n  start_time: inputData.startTime || new Date().toISOString(),\n  end_time: inputData.endTime || new Date().toISOString(),\n  score: inputData.score || 0,\n  accuracy: parseFloat(accuracy),\n  // 核心：直接將前端傳來的 answers 陣列儲存到 JSONB 欄位\n  answers: inputData.answers || [], \n  marked_questions: inputData.markedQuestions || []\n};\n\nconsole.log('✅ 練習記錄資料已準備:', practiceRecord);\n\nreturn [{\n  json: practiceRecord\n}];"
      },
      "id": "a2bf8505-1d3a-414b-a8de-95b3df7415c7",
      "name": "處理資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        1088
      ]
    },
    {
      "parameters": {
        "tableId": "practice_records",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "score",
              "fieldValue": "={{ $json.score }}"
            },
            {
              "fieldId": "database_type",
              "fieldValue": "={{ $json.database_type }}"
            },
            {
              "fieldId": "accuracy",
              "fieldValue": "={{ $json.accuracy }}"
            },
            {
              "fieldId": "end_time",
              "fieldValue": "={{ $json.end_time }}"
            },
            {
              "fieldId": "start_time",
              "fieldValue": "={{ $json.start_time }}"
            },
            {
              "fieldId": "question_count",
              "fieldValue": "={{ $json.question_count }}"
            },
            {
              "fieldId": "answers",
              "fieldValue": "={{ $json.answers }}"
            }
          ]
        }
      },
      "id": "493da240-a7fc-4aff-9319-4ff2c978745c",
      "name": "儲存到 practice_records",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        1088
      ],
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 製作者: Nick Chang | nickleo051216@gmail.com\n// 功能: 準備更新每日使用量資料\n\nconst practiceData = $input.first().json;\nconst userId = practiceData.user_id;\nconst today = new Date().toISOString().split('T')[0];\n\n// 準備查詢條件\nconst queryData = {\n  user_id: userId,\n  usage_date: today\n};\n\nconsole.log('🔍 查詢今日使用量:', queryData);\n\nreturn [{\n  json: queryData\n}];"
      },
      "id": "130f5a4e-7cce-4679-b3e4-05d9d2025040",
      "name": "準備查詢條件",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "daily_usage",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "usage_date",
              "keyValue": "={{ $json.usage_date }}"
            }
          ]
        }
      },
      "id": "7543104d-572c-421a-8be1-ac7e51066609",
      "name": "查詢今日使用量",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        1088
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb809158-d976-4ed0-90d0-1c6098031f6f",
      "name": "判斷是否有記錄",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "// 製作者: Nick Chang | nickleo051216@gmail.com\n// 功能: 更新現有的每日使用量記錄\n\nconst existingRecord = $input.first().json[0];\nconst practiceData = $('儲存到 practice_records').first().json;\n\n// 增加練習次數和答題總數\nconst updatedData = {\n  usage_id: $input.first().json.usage_id,\n  practice_count: ($input.first().json.practice_count || 0) + 1,\n  total_questions_answered: ($input.first().json.total_questions_answered || 0) + $input.first().json.question_count\n};\n\nconsole.log('📝 更新每日使用量:', updatedData);\n\nreturn [{\n  json: updatedData\n}];"
      },
      "id": "aeefb37c-3d69-4557-bd07-0f0fc3a2d4ba",
      "name": "準備更新資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        992
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "daily_usage",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "usage_id",
              "condition": "eq",
              "keyValue": "={{ $json.usage_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "practice_count",
              "fieldValue": "={{ $json.practice_count }}"
            }
          ]
        }
      },
      "id": "500cd421-14b5-455a-b8a1-82f743d48eba",
      "name": "更新每日使用量",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        992
      ],
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 製作者: Nick Chang | nickleo051216@gmail.com\n// 功能: 建立新的每日使用量記錄\n\nconst queryData = $('準備查詢條件').first().json;\nconst practiceData = $('儲存到 practice_records').first().json;\n\nconst newUsageRecord = {\n  user_id: queryData.user_id,\n  usage_date: queryData.usage_date,\n  practice_count: 1,\n  exam_count: 0,\n  review_count: 0,\n  total_questions_answered: practiceData.question_count\n};\n\nconsole.log('✨ 建立新的每日使用量記錄:', newUsageRecord);\n\nreturn [{\n  json: newUsageRecord\n}];"
      },
      "id": "234e1f8a-598c-489e-9d68-1dc17fb21454",
      "name": "準備新增資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        1184
      ]
    },
    {
      "parameters": {
        "tableId": "daily_usage",
        "dataToSend": "autoMapInputData"
      },
      "id": "5e51c435-12bc-4dda-a267-d4cd482ec1a4",
      "name": "新增每日使用量",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        1184
      ],
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"練習記錄已儲存\",\n  \"data\": {\n    \"recordId\": \"{{ $('儲存到 practice_records').first().json.record_id }}\",\n    \"userId\": \"{{ $('儲存到 practice_records').first().json.user_id }}\",\n    \"score\": \"{{ $('儲存到 practice_records').first().json.score }}\",\n    \"accuracy\": \"{{ $('儲存到 practice_records').first().json.accuracy }}\",\n    \"savedAt\": \"{{ $now.toISO() }}\"\n  },\n  \"creator\": \"Nick Chang | nickleo051216@gmail.com\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "d321dfd3-dae4-45d5-8882-6b567d37e515",
      "name": "回傳成功訊息",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1920,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.line_user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1248,
        384
      ],
      "id": "175e6849-f5fa-4055-a287-adc3ce7dc605",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27a00b99-1f0f-4e7d-9389-c1f20d77a7c9",
              "leftValue": "={{ $items(\"Get a row\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        384
      ],
      "id": "ab9387e5-df3b-4842-a141-2b30fe8e3562",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "題目同步雲端",
        "height": 560,
        "width": 2592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        784
      ],
      "typeVersion": 1,
      "id": "c57cbc7a-693e-4ea7-a7ce-acd37e27c447",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// 功能：處理答題記錄，精準找出答錯的題目 (兼容 Object/Array)\nconst inputData = $input.first().json.body;\nconst answers = inputData.answers;\nconst questions = inputData.questions;\nconst wrongQuestions = [];\n\n// 統一處理 Object 或 Array\nconst keys = Object.keys(answers);\n\nkeys.forEach(index => {\n  const answer = answers[index];\n  const question = questions[index];\n  \n  if (question) {\n    // 優先使用前端傳來的 isCorrect 標記，若無則比對 originalIndex\n    // 這樣可以避免因為選項打亂導致後端判斷錯誤\n    const isUserCorrect = (answer.isCorrect !== undefined) \n      ? answer.isCorrect \n      : (answer.originalIndex === question.correct_answer_index);\n\n    if (!isUserCorrect) {\n      wrongQuestions.push({\n        user_id: inputData.userId,\n        question_id: question.question_id || `Q${parseInt(index) + 1}`,\n        database_type: inputData.databaseType || 'ipas',\n        topic: question.topic || '未分類',\n        subtopic: question.subtopic || '未分類',\n        question_text: question.question,\n        correct_answer: question.correct_answer_letter, // 這裡會是打亂後正確的字母\n        user_answer: answer.answer,\n        answered_at: answer.timestamp || new Date().toISOString()\n      });\n    }\n  }\n});\n\nreturn wrongQuestions.map(q => ({ json: q }));"
      },
      "id": "a48b3901-ccef-4555-b981-6c91a8e58204",
      "name": "找出答錯的題目",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        1456
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-no-wrong",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f0098b4-73f1-4e22-9299-313065612122",
      "name": "判斷: 是否有錯題?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        1456
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"全部答對,沒有錯題需要記錄 🎉\",\n  \"data\": {\n    \"userId\": \"{{ $json.userId }}\",\n    \"wrongCount\": 0\n  }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "cbc18533-484b-4416-9299-c994d5a0bb67",
      "name": "回應: 沒有錯題",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "wrong_questions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "question_id",
              "keyValue": "={{ $json.question_id }}"
            }
          ]
        }
      },
      "id": "4010bf3f-809c-465c-a1cb-d788f9e97fc7",
      "name": "查詢該錯題是否已存在",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        1520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-array-length",
              "leftValue": "={{ $json.wrong_id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "48c65222-d211-4a2a-b9d7-d6f43b011ebb",
      "name": "判斷: 錯題是否已存在?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "wrong_questions",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "wrong_id",
              "condition": "eq",
              "keyValue": "={{ $json.wrong_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "wrong_count",
              "fieldValue": "={{ $json.wrong_count }}"
            },
            {
              "fieldId": "last_wrong_date",
              "fieldValue": "={{ $json.last_wrong_date }}"
            },
            {
              "fieldId": "user_answers",
              "fieldValue": "={{ JSON.stringify($json.user_answers) }}"
            },
            {
              "fieldId": "is_reviewed",
              "fieldValue": "={{ $json.is_reviewed }}"
            }
          ]
        }
      },
      "id": "8106242e-0573-46ba-81b1-1c046e8bc698",
      "name": "更新現有錯題",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        1680
      ],
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "tableId": "wrong_questions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question_id",
              "fieldValue": "={{ $('Loop Over Items').item.json.question_id }}"
            },
            {
              "fieldId": "database_type",
              "fieldValue": "={{ $('Loop Over Items').item.json.database_type }}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{ $('Loop Over Items').item.json.topic }}"
            },
            {
              "fieldId": "subtopic",
              "fieldValue": "={{ $('Loop Over Items').item.json.subtopic }}"
            },
            {
              "fieldId": "wrong_count",
              "fieldValue": "={{ $json.wrong_count }}"
            },
            {
              "fieldId": "first_wrong_date",
              "fieldValue": "={{ $json.first_wrong_date }}"
            },
            {
              "fieldId": "last_wrong_date",
              "fieldValue": "={{ $json.last_wrong_date }}"
            },
            {
              "fieldId": "is_reviewed",
              "fieldValue": "={{ $json.is_reviewed }}"
            },
            {
              "fieldId": "user_answers",
              "fieldValue": "={{ $('Loop Over Items').item.json.user_answer }}"
            },
            {
              "fieldId": "question",
              "fieldValue": "={{ $('Loop Over Items').item.json.question_text }}"
            },
            {
              "fieldId": "correct_answer",
              "fieldValue": "={{ $('Loop Over Items').item.json.correct_answer }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Loop Over Items').item.json.user_id }}"
            }
          ]
        }
      },
      "id": "81bee800-1b1b-4298-bad1-e169b4881b48",
      "name": "新增錯題記錄",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        1472
      ],
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 功能：準備更新現有錯題，並確保 ID 存在\nconst wrongQuestionData = $json; // 來自上一個迴圈節點\nlet existingRecord = $('查詢該錯題是否已存在').first().json;\n\n// 處理 Supabase 回傳陣列的情況\nif (Array.isArray(existingRecord)) {\n    existingRecord = existingRecord[0];\n}\n\n// 關鍵防呆：如果真的抓不到 ID，就回傳空，避免整個工作流崩潰\nif (!existingRecord || !existingRecord.wrong_id) {\n    return []; // 跳過這一題，不拋出錯誤\n}\n\n// 處理舊的答案紀錄 (JSONB 格式)\nlet userAnswers = [];\ntry {\n  if (existingRecord.user_answers) {\n    userAnswers = typeof existingRecord.user_answers === 'string' \n      ? JSON.parse(existingRecord.user_answers) \n      : existingRecord.user_answers;\n  }\n} catch (e) {\n  userAnswers = [];\n}\n\n// 加入本次新的錯誤答案\nuserAnswers.push({\n  answer: wrongQuestionData.user_answer,\n  timestamp: wrongQuestionData.answered_at\n});\n\nreturn [{\n  json: {\n    wrong_id: existingRecord.wrong_id,\n    wrong_count: (existingRecord.wrong_count || 0) + 1,\n    last_wrong_date: new Date().toISOString(),\n    user_answers: JSON.stringify(userAnswers),\n    is_reviewed: false\n  }\n}];"
      },
      "id": "1aa25cf8-0258-46b9-b6cf-497fdd539be0",
      "name": "準備更新資料1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        1680
      ]
    },
    {
      "parameters": {
        "jsCode": "// 功能：準備新增「第一次答錯」的資料\n// 抓取當前 Loop 正在處理的題目資料\n// 注意：請確保你的 Loop 節點名稱真的是 'Loop Over Items'，如果不是請修改下面這行\nconst wrongQuestionData = $('Loop Over Items').item.json;\n\n// 1. 初始化 user_answers 陣列，放入這一次的錯誤答案\nconst userAnswers = [{\n  answer: wrongQuestionData.user_answer,\n  timestamp: wrongQuestionData.answered_at || new Date().toISOString()\n}];\n\n// 2. 準備要寫入資料庫的新資料\n// 這裡不需要指定 wrong_id，因為寫入 Supabase 時會自動產生\nreturn [{\n  json: {\n    wrong_count: 1,\n    first_wrong_date: new Date().toISOString(),\n    last_wrong_date: new Date().toISOString(),\n    user_answers: userAnswers, // 傳送陣列，讓後面的 Supabase 節點存成 JSONB\n    is_reviewed: false\n  }\n}];"
      },
      "id": "e8012ad0-eedb-44a0-9bff-56bfcf05d457",
      "name": "準備新增資料1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        1472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"錯題記錄已更新\",\n  \"data\": {\n    \"userId\": \"{{ $('接收前端請求錯誤題').first().json.body.userId }}\",\n    \"processedCount\": {{ $('找出答錯的題目').all().length }},\n    \"timestamp\": \"{{ $now.toISO() }}\"\n  },\n  \"creator\": \"Nick Chang | nickleo051216@gmail.com\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "5d276396-be28-4369-a80f-fcceb0da1e4d",
      "name": "回傳成功訊息1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1696,
        1328
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-wrong-questions",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "5b53be1f-db5c-4fcb-9b6a-df97f6bd2c1c",
      "name": "接收前端請求錯誤題",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        128,
        1456
      ],
      "webhookId": "update-wrong-questions"
    },
    {
      "parameters": {
        "content": "GOOGLE\n",
        "height": 464,
        "width": 2384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        2032
      ],
      "typeVersion": 1,
      "id": "0aaf0024-d191-4817-b100-f6f33c22e7fe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "錯題同步\n\n",
        "height": 464,
        "width": 1792
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        1392
      ],
      "typeVersion": 1,
      "id": "20af2cf4-c42f-449b-b739-b3409b69e1c1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Line 登入系統\n",
        "height": 496,
        "width": 2624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        336
      ],
      "typeVersion": 1,
      "id": "35c6beb1-2dce-4910-b004-dfa19ee8ec16",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google-login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        2192
      ],
      "id": "e04578cd-16cf-41da-8d3a-b9c2f6b952a0",
      "name": "Webhook",
      "webhookId": "e93112d1-80bd-4835-906c-7dc9437d717b"
    },
    {
      "parameters": {
        "url": "https://naftwmajxuoauokuwpaz.supabase.co/auth/v1/user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.access_token }}"
            },
            {
              "name": "apiKey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hZnR3bWFqeHVvYXVva3V3cGF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA5OTgxNTgsImV4cCI6MjA3NjU3NDE1OH0.zf-eKQVC5PCFFC_ZucGNbFsc8n4627rRxZQ2A0S4FM4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        2192
      ],
      "id": "153c5f13-2b47-4fed-b852-89c56550907f",
      "name": "Supabase Fetch User"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Google 登入成功\",\n  \"Google_user_id\": \"{{ $json.Google_user_id }}\",\n  \"displayName\": \"{{ $json.displayName }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"pictureUrl\": \"{{ $json.pictureUrl }}\",\n  \"member_level\": \"{{ $json.member_level }}\",\n  \"paid_until\": \"{{ $json.paid_until }}\",\n  \"register_date\": \"{{ $json.register_date }}\",\n  \"last_login\": \"{{ $json.last_login }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3040,
        2192
      ],
      "id": "f73e09ce-4b70-41e6-aa0b-d82372d4c09e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 取得上一步 (Supabase Fetch User) 返回的用戶資料物件\nconst userResponse = $input.item.json;\n\n// 取得第一步 (Webhook) 傳入的 Token 資料\n// 注意：在 n8n 中，您可能需要透過 $node 語法來存取初始 Webhook 的資料\n// 這裡假設我們可以直接從上一個節點的原始輸入取得 tokens\nconst initialData = $input.item.json; \n// 為了簡化，我們假設 Supabase Fetch User 的輸出已經包含了原始的 tokens\n// 但在實際 n8n 中，您可能需要用 $node[\"Webhook\"].json 取得\n\n// 檢查是否成功取得用戶資訊\nif (!userResponse || !userResponse.id) {\n    // 雖然理論上 Webhook Response 應該會處理失敗，但這裡提供一個失敗防護\n    return [{ json: { status: 'error', message: '無法從 Supabase 取得用戶資料' } }];\n}\n\n// 格式化要儲存到 Google Sheets 的資料\nconst formattedData = {\n  // 從 Supabase 的回應中取出核心資料\n  google_id: userResponse.id,\n  email: userResponse.email,\n  // 優先使用 Supabase metadata 中的 name，否則使用 email\n  name: userResponse.user_metadata?.full_name || userResponse.email,\n  avatar_url: userResponse.user_metadata?.avatar_url || '',\n  \n  // 設定預設會員等級 (待 Google Sheets 節點更新或新增)\n  member_level: '免費會員', \n\n  // 記錄時間與 token\n  login_time: new Date().toISOString(),\n  access_token: initialData.access_token, // 假設 token 被帶過來\n  refresh_token: initialData.refresh_token, // 假設 token 被帶過來\n  created_at: new Date().toISOString()\n};\n\nreturn [{ json: formattedData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        2192
      ],
      "id": "6aaed2cc-b1ca-432a-9cef-dab704a31f35",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// 確保此節點的輸入是來自 Google Sheets (Update or Append) 的輸出\n\nconst sheetOutput = $input.item.json;\n\n// 提取第一個成功的結果\nconst finalUser = sheetOutput[0] || sheetOutput; \n\n// 檢查是否成功取得會員資料\nif (!finalUser || !finalUser.google_id) {\n  // 如果 Google Sheets 處理失敗，返回錯誤訊息\n  return [{ \n    json: { \n      status: 'error', \n      message: '會員資料存取失敗，請檢查 Google Sheets 節點設置。',\n      user_data: {}\n    } \n  }];\n}\n\n// 組裝最終回傳給前端 (google-callback.html) 的 JSON 結構\nconst response = {\n  status: \"success\",\n  message: \"Google 登入與資料同步成功！\",\n  // 注意：這裡假設非付費會員需要付費通知，實際邏輯請在檢查會員等級節點中實現\n  needPayment: finalUser.member_level === '付費會員' ? false : true, \n  paymentUrl: \"https://portaly.cc/zn.studio\", \n  \n  // 這是前端 <script> 區塊中 data.user_data 預期接收的結構\n  user_data: { \n    google_id: finalUser.google_id,\n    email: finalUser.email,\n    // 【修正點 1】使用 Google Sheets 輸出的 \"full_name\"\n    name: finalUser.full_name || finalUser.email, \n    avatar: finalUser.picture || '',  // 確保這裡有值\n    pictureUrl: finalUser.picture || '',  // 同時提供 pictureUrl 以兼容\n    member_level: finalUser.member_level || '免費會員',\n    login_type: \"google\" // 即使是 Line 記錄被合併，本次登入方式仍為 Google\n  }\n};\n\nreturn [{ json: response }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        2192
      ],
      "id": "ecee3794-8114-475b-8613-56876a8807fe",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g",
          "mode": "list",
          "cachedResultName": "社群iPAS 題庫",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1350648105,
          "mode": "list",
          "cachedResultName": "「會員資料」(GOOGLE)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit#gid=1350648105"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "google_id": "={{ $json.google_id }}",
            "full_name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "picture": "={{ $json.avatar_url }}",
            "register_date": "={{ $today.format('yyyy-MM-dd') }}",
            "last_sign_in_at": "={{ $json.login_time }}"
          },
          "matchingColumns": [
            "google_id"
          ],
          "schema": [
            {
              "id": "google_id",
              "displayName": "google_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "member_level",
              "displayName": "member_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "paid_until",
              "displayName": "paid_until",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "picture",
              "displayName": "picture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "register_date",
              "displayName": "register_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_sign_in_at",
              "displayName": "last_sign_in_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        2192
      ],
      "id": "4e466e1a-8bc0-4297-9362-6d46e9625b6c",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZZgkB5gxJYCEKFNR",
          "name": "nickleo3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.user_data.avatar }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        2112
      ],
      "id": "27ca6339-f753-4610-812a-b3af22f7f8b6",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://naftwmajxuoauokuwpaz.supabase.co/storage/v1/object/ipas/google/{{ $json.user_data.google_id }}.jpeg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hZnR3bWFqeHVvYXVva3V3cGF6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDk5ODE1OCwiZXhwIjoyMDc2NTc0MTU4fQ.IQTvWiOuWuozhHLeXQ4M7K4rxNWFzVNl-dnTDdiJnQE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        2048
      ],
      "id": "a70a86b0-76b2-4a48-bec0-2bd1caf4083e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "// 在 Code in JavaScript4 節點 (將此代碼完整貼入)\n\n// ----------------------------------------------------------------------\n// 💡 確保這些值與您的 Supabase 設定一致\nconst PROJECT_ID = 'naftwmajxuoauokuwpaz'; \nconst BUCKET_NAME = 'ipas'; \n// ----------------------------------------------------------------------\n\n\n// 🎯 修正點 1：安全地獲取原始回應結構 (Code in JavaScript3)\n// 確保您流程中的節點名稱是 'Code in JavaScript3'\n// 這是包含 status, message, needPayment, user_data 的完整結構\nconst originalResponse = $('Code in JavaScript3').first().json.user_data; \nconst originalUserData = $('Code in JavaScript3').first().json.user_data; \n\n\n// 🎯 修正點 2：安全地獲取上傳 Key（來自 HTTP Request2）\n// 確保您流程中的節點名稱是 'HTTP Request2'\nconst uploadResponse = $input.first().json.Key; \n\n// 上傳成功的回應 Key (ipas/google/Studio ZN.jpeg)\nconst uploadResponseKey = $input.first().json.Key; \n\nif (!originalUserData) {\n    throw new Error('流程錯誤：原始回應中缺少 user_data 結構。');\n}\nif (!uploadResponseKey) {\n    throw new Error('上傳 Key 獲取失敗。請檢查 HTTP Request2 節點輸出。');\n}\n\n\n// 3. 組裝公開網址 (Public URL)\n// 網址格式: https://[PROJECT_ID].supabase.co/storage/v1/object/public/[BUCKET_NAME]/[FILE_PATH]\nconst publicUrl = `https://${PROJECT_ID}.supabase.co/storage/v1/object/public/${uploadResponseKey}`;\n\n\n// 4. 更新 user_data 結構 (問題行數已修正！)\noriginalUserData.avatar = publicUrl;\noriginalUserData.pictureUrl = publicUrl;\n\n\n// 5. 返回更新後的完整資料結構\nreturn [{ \n    json: { \n        ...originalResponse, // 保留所有 status, message, paymentUrl 等頂層屬性\n        user_data: originalUserData // 替換為包含新網址的 user_data\n    } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2048
      ],
      "id": "78cc601d-2e17-4414-a45b-4db94a3830ea",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "google_user",
        "filters": {
          "conditions": [
            {
              "keyName": "displayName",
              "keyValue": "={{ $json.user_data.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2144,
        2192
      ],
      "id": "fec5ba71-5024-4c1a-baa1-22d282d7e223",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1075cf2-04c2-4f77-8d5d-4205c4141e43",
              "leftValue": "={{ $json.displayName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2368,
        2192
      ],
      "id": "6c906e44-6e5b-46ca-a8dc-e174dfd67b03",
      "name": "有沒有登入過(沒有的話)"
    },
    {
      "parameters": {
        "content": "✅ 判斷用戶是否為付費會員\n✅ 控制功能顯示/隱藏\n✅ 決定何時顯示升級按鈕",
        "height": 320,
        "width": 1248
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "247e917a-0903-44d9-bfd4-14c3cb9a716f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        1504
      ],
      "id": "d9405c63-b4ba-4f4b-8534-b4db3cac5793",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.google_id }}"
            },
            {
              "fieldId": "displayName",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.full_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.email }}"
            },
            {
              "fieldId": "pictureUrl",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.picture }}"
            },
            {
              "fieldId": "member_level",
              "fieldValue": "=免費會員"
            },
            {
              "fieldId": "register_date",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.register_date }}"
            },
            {
              "fieldId": "last_login",
              "fieldValue": "={{$now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2816,
        2096
      ],
      "id": "aafc4de5-352f-4d9a-a999-a234a5b83c46",
      "name": "新增到 User",
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "tableId": "google_user",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Google_user_id",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.google_id }}"
            },
            {
              "fieldId": "displayName",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.full_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.email }}"
            },
            {
              "fieldId": "member_level",
              "fieldValue": "=免費會員"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.register_date }}"
            },
            {
              "fieldId": "last_login",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.last_sign_in_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2592,
        2096
      ],
      "id": "9ee7ce04-f655-4db3-a81e-58e8a9a9e30a",
      "name": "新增到 google User",
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80771c95-b84b-4e0c-8f1d-5c55b6c6f2ea",
              "leftValue": "={{ $json.user_data.avatar }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        2192
      ],
      "id": "97e5723b-48ef-4735-89d5-abe823806da9",
      "name": "有放大頭貼"
    },
    {
      "parameters": {
        "jsCode": "// 取得 Code in JavaScript3 輸出的資料\nconst userData = $input.item.json;\n\n// 🎯 設定 pictureUrl 為空字串\n// 這樣它就會向下傳遞空字串給 Supabase 更新節點\nuserData.pictureUrl = \"\"; \nuserData.user_data.pictureUrl = \"\"; // 更新 user_data 結構中的 pictureUrl\n\n// 保持 user_data.avatar 也為空，雖然這個欄位可能已經是空的\nuserData.user_data.avatar = \"\"; \n\n// 返回更新後的資料，將其傳遞給 Supabase 更新資料庫的節點\nreturn [{ json: userData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2336
      ],
      "id": "ef1964f2-0a5d-4c08-8222-3bfd97b46e6d",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "google_user",
        "filters": {
          "conditions": [
            {
              "keyName": "Google_user_id",
              "condition": "eq",
              "keyValue": "={{ $json.Google_user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Google_user_id",
              "fieldValue": "={{ $json.google_id }}"
            },
            {
              "fieldId": "displayName",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.full_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.email }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.register_date }}"
            },
            {
              "fieldId": "last_login",
              "fieldValue": "={{ $('Append or update row in sheet').item.json.last_sign_in_at }}"
            },
            {
              "fieldId": "pictureUrl",
              "fieldValue": "={{ $json.user_data.pictureUrl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2816,
        2288
      ],
      "id": "2bc2721d-fbad-4f8a-a7ee-3bb87c04d3ed",
      "name": "更新 google User",
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('處理用戶資料').item.json.line_user_id }}"
            },
            {
              "fieldId": "displayName",
              "fieldValue": "={{ $('處理用戶資料').item.json.displayName }}"
            },
            {
              "fieldId": "pictureUrl",
              "fieldValue": "={{ $('處理用戶資料').item.json.pictureUrl }}"
            },
            {
              "fieldId": "register_date",
              "fieldValue": "={{ $('處理用戶資料').item.json.register_date }}"
            },
            {
              "fieldId": "last_login",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1728,
        448
      ],
      "id": "d0a58931-ca06-4734-8e6e-99e04295aff6",
      "name": "更新舊會員資料",
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('處理用戶資料').item.json.line_user_id }}"
            },
            {
              "fieldId": "displayName",
              "fieldValue": "={{ $('處理用戶資料').item.json.displayName }}"
            },
            {
              "fieldId": "member_level",
              "fieldValue": "=免費會員"
            },
            {
              "fieldId": "pictureUrl",
              "fieldValue": "={{ $('處理用戶資料').item.json.pictureUrl }}"
            },
            {
              "fieldId": "register_date",
              "fieldValue": "={{ $('處理用戶資料').item.json.register_date }}"
            },
            {
              "fieldId": "last_login",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1728,
        304
      ],
      "id": "71eb6c93-4f61-432b-a002-77833f368895",
      "name": "新增新會員",
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "money",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        2592
      ],
      "id": "f353a61d-3c01-4526-90fa-e943cdcb14db",
      "name": "金流",
      "webhookId": "15b0c93b-a37e-4070-96fa-093092ec613f"
    },
    {
      "parameters": {
        "jsCode": "/* ======================================================\n   iPAS 會員系統 - 綠界訂單產生器 (完整純 JS 版)\n   適用於 n8n Code 節點\n   ====================================================== */\n\n// 1. 設定綠界金鑰\nconst MERCHANT_ID = '3475994';\nconst HASH_KEY = 'jR0x6VkCq8XyCKPV';\nconst HASH_IV = '8FEOgzZkipv14N1H';\n\nconst ECPAY_URL = 'https://payment.ecpay.com.tw/Cashier/AioCheckOut/V5';\n\n// 2. 從 .body 中取得資料 ($json 是 n8n 的輸入物件)\nconst userId = $json.body.userId;\nconst plan = $json.body.plan;\nconst amount = $input.first().json.body.amount;\n\n// 防呆金額處理\nconst safeAmount = (amount || (plan === 'yearly' ? 1999 : 199)).toString();\n\n// 格式化日期與訂單號\nconst now = new Date();\nconst merchantTradeDate = `${now.getFullYear()}/${String(now.getMonth() + 1).padStart(2, '0')}/${String(now.getDate()).padStart(2, '0')} ${String(now.getHours()).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}:${String(now.getSeconds()).padStart(2, '0')}`;\nconst orderId = 'IPAS' + Date.now();\n\n// 3. 準備綠界參數\nconst ecpayParams = {\n    MerchantID: MERCHANT_ID,\n    MerchantTradeNo: orderId,\n    MerchantTradeDate: merchantTradeDate,\n    PaymentType: 'aio',\n    TotalAmount: safeAmount,\n    TradeDesc: 'iPAS VIP Subscription',\n    ItemName: plan === 'monthly' ? 'iPAS 題庫 VIP 會員 (30天)' : 'iPAS 題庫 VIP 會員 (365天)',\n    ReturnURL: `https://nickleo9.zeabur.app/webhook/ipas-ecpay-callback`,\n    ChoosePayment: 'ALL',\n    ClientBackURL: 'https://nickleo9.github.io/GenAI/index.html',\n    OrderResultURL: `https://nickleo9.zeabur.app/webhook/ipas-pay-result`,\n    NeedExtraPaidInfo: 'Y'\n};\n\n// ===== 綠界專用 URL Encode =====\nfunction ecpayUrlEncode(str) {\n    let encoded = encodeURIComponent(str);\n    encoded = encoded.replace(/%2d/gi, '-').replace(/%5f/gi, '_').replace(/%2e/gi, '.')\n        .replace(/%21/gi, '!').replace(/%2a/gi, '*').replace(/%28/gi, '(')\n        .replace(/%29/gi, ')').replace(/%20/gi, '+');\n    return encoded;\n}\n\n// ===== 純 JS 版 MD5 實作 (用於解決 Disallowed crypto 錯誤) =====\nfunction md5(string) {\n    function rotateLeft(lValue, iShiftBits) { return (lValue << iShiftBits) | (lValue >>> (32 - iShiftBits)); }\n    function addUnsigned(lX, lY) {\n        var lX8, lY8, lX4, lY4, lResult;\n        lX8 = (lX & 0x80000000); lY8 = (lY & 0x80000000);\n        lX4 = (lX & 0x40000000); lY4 = (lY & 0x40000000);\n        lResult = (lX & 0x3FFFFFFF) + (lY & 0x3FFFFFFF);\n        if (lX4 & lY4) return (lResult ^ 0x80000000 ^ lX8 ^ lY8);\n        if (lX4 | lY4) {\n            if (lResult & 0x40000000) return (lResult ^ 0xC0000000 ^ lX8 ^ lY8);\n            else return (lResult ^ 0x40000000 ^ lX8 ^ lY8);\n        } else return (lResult ^ lX8 ^ lY8);\n    }\n    function F(x, y, z) { return (x & y) | ((~x) & z); }\n    function G(x, y, z) { return (x & z) | (y & (~z)); }\n    function H(x, y, z) { return (x ^ y ^ z); }\n    function I(x, y, z) { return (y ^ (x | (~z))); }\n    function FF(a, b, c, d, x, s, ac) {\n        a = addUnsigned(a, addUnsigned(addUnsigned(F(b, c, d), x), ac));\n        return addUnsigned(rotateLeft(a, s), b);\n    }\n    function GG(a, b, c, d, x, s, ac) {\n        a = addUnsigned(a, addUnsigned(addUnsigned(G(b, c, d), x), ac));\n        return addUnsigned(rotateLeft(a, s), b);\n    }\n    function HH(a, b, c, d, x, s, ac) {\n        a = addUnsigned(a, addUnsigned(addUnsigned(H(b, c, d), x), ac));\n        return addUnsigned(rotateLeft(a, s), b);\n    }\n    function II(a, b, c, d, x, s, ac) {\n        a = addUnsigned(a, addUnsigned(addUnsigned(I(b, c, d), x), ac));\n        return addUnsigned(rotateLeft(a, s), b);\n    }\n    function convertToWordArray(string) {\n        var lWordCount;\n        var lMessageLength = string.length;\n        var lNumberOfWords_Temp1 = lMessageLength + 8;\n        var lNumberOfWords_Temp2 = (lNumberOfWords_Temp1 - (lNumberOfWords_Temp1 % 64)) / 64;\n        var lNumberOfWords = (lNumberOfWords_Temp2 + 1) * 16;\n        var lWordArray = Array(lNumberOfWords);\n        var lBytePosition = 0;\n        var lByteCount = 0;\n        while (lByteCount < lMessageLength) {\n            lWordCount = (lByteCount - (lByteCount % 4)) / 4;\n            lBytePosition = (lByteCount % 4) * 8;\n            lWordArray[lWordCount] = (lWordArray[lWordCount] | (string.charCodeAt(lByteCount) << lBytePosition));\n            lByteCount++;\n        }\n        lWordCount = (lByteCount - (lByteCount % 4)) / 4;\n        lBytePosition = (lByteCount % 4) * 8;\n        lWordArray[lWordCount] = lWordArray[lWordCount] | (0x80 << lBytePosition);\n        lWordArray[lNumberOfWords - 2] = lMessageLength << 3;\n        lWordArray[lNumberOfWords - 1] = lMessageLength >>> 29;\n        return lWordArray;\n    }\n    function wordToHex(lValue) {\n        var WordToHexValue = \"\", WordToHexValue_Temp = \"\", lByte, lCount;\n        for (lCount = 0; lCount <= 3; lCount++) {\n            lByte = (lValue >>> (lCount * 8)) & 255;\n            WordToHexValue_Temp = \"0\" + lByte.toString(16);\n            WordToHexValue = WordToHexValue + WordToHexValue_Temp.substr(WordToHexValue_Temp.length - 2, 2);\n        }\n        return WordToHexValue;\n    }\n    function utf8Encode(string) {\n        string = string.replace(/\\r\\n/g, \"\\n\");\n        var utftext = \"\";\n        for (var n = 0; n < string.length; n++) {\n            var c = string.charCodeAt(n);\n            if (c < 128) {\n                utftext += String.fromCharCode(c);\n            } else if ((c > 127) && (c < 2048)) {\n                utftext += String.fromCharCode((c >> 6) | 192);\n                utftext += String.fromCharCode((c & 63) | 128);\n            } else {\n                utftext += String.fromCharCode((c >> 12) | 224);\n                utftext += String.fromCharCode(((c >> 6) & 63) | 128);\n                utftext += String.fromCharCode((c & 63) | 128);\n            }\n        }\n        return utftext;\n    }\n    var x = Array();\n    var k, AA, BB, CC, DD, a, b, c, d;\n    var S11 = 7, S12 = 12, S13 = 17, S14 = 22;\n    var S21 = 5, S22 = 9, S23 = 14, S24 = 20;\n    var S31 = 4, S32 = 11, S33 = 16, S34 = 23;\n    var S41 = 6, S42 = 10, S43 = 15, S44 = 21;\n    string = utf8Encode(string);\n    x = convertToWordArray(string);\n    a = 0x67452301; b = 0xEFCDAB89; c = 0x98BADCFE; d = 0x10325476;\n    for (k = 0; k < x.length; k += 16) {\n        AA = a; BB = b; CC = c; DD = d;\n        a = FF(a, b, c, d, x[k + 0], S11, 0xD76AA478); d = FF(d, a, b, c, x[k + 1], S12, 0xE8C7B756);\n        c = FF(c, d, a, b, x[k + 2], S13, 0x242070DB); b = FF(b, c, d, a, x[k + 3], S14, 0xC1BDCEEE);\n        a = FF(a, b, c, d, x[k + 4], S11, 0xF57C0FAF); d = FF(d, a, b, c, x[k + 5], S12, 0x4787C62A);\n        c = FF(c, d, a, b, x[k + 6], S13, 0xA8304613); b = FF(b, c, d, a, x[k + 7], S14, 0xFD469501);\n        a = FF(a, b, c, d, x[k + 8], S11, 0x698098D8); d = FF(d, a, b, c, x[k + 9], S12, 0x8B44F7AF);\n        c = FF(c, d, a, b, x[k + 10], S13, 0xFFFF5BB1); b = FF(b, c, d, a, x[k + 11], S14, 0x895CD7BE);\n        a = FF(a, b, c, d, x[k + 12], S11, 0x6B901122); d = FF(d, a, b, c, x[k + 13], S12, 0xFD987193);\n        c = FF(c, d, a, b, x[k + 14], S13, 0xA679438E); b = FF(b, c, d, a, x[k + 15], S14, 0x49B40821);\n        a = GG(a, b, c, d, x[k + 1], S21, 0xF61E2562); d = GG(d, a, b, c, x[k + 6], S22, 0xC040B340);\n        c = GG(c, d, a, b, x[k + 11], S23, 0x265E5A51); b = GG(b, c, d, a, x[k + 0], S24, 0xE9B6C7AA);\n        a = GG(a, b, c, d, x[k + 5], S21, 0xD62F105D); d = GG(d, a, b, c, x[k + 10], S22, 0x02441453);\n        c = GG(c, d, a, b, x[k + 15], S23, 0xD8A1E681); b = GG(b, c, d, a, x[k + 4], S24, 0xE7D3FBC8);\n        a = GG(a, b, c, d, x[k + 9], S21, 0x21E1CDE6); d = GG(d, a, b, c, x[k + 14], S22, 0xC33707D6);\n        c = GG(c, d, a, b, x[k + 3], S23, 0xF4D50D87); b = GG(b, c, d, a, x[k + 8], S24, 0x455A14ED);\n        a = GG(a, b, c, d, x[k + 13], S21, 0xA9E3E905); d = GG(d, a, b, c, x[k + 2], S22, 0xFCEFA3F8);\n        c = GG(c, d, a, b, x[k + 7], S23, 0x676F02D9); b = GG(b, c, d, a, x[k + 12], S24, 0x8D2A4C8A);\n        a = HH(a, b, c, d, x[k + 5], S31, 0xFFFA3942); d = HH(d, a, b, c, x[k + 8], S32, 0x8771F681);\n        c = HH(c, d, a, b, x[k + 11], S33, 0x6D9D6122); b = HH(b, c, d, a, x[k + 14], S34, 0xFDE5380C);\n        a = HH(a, b, c, d, x[k + 1], S31, 0xA4BEEA44); d = HH(d, a, b, c, x[k + 4], S32, 0x4BDECFA9);\n        c = HH(c, d, a, b, x[k + 7], S33, 0xF6BB4B60); b = HH(b, c, d, a, x[k + 10], S34, 0xBEBFBC70);\n        a = HH(a, b, c, d, x[k + 13], S31, 0x289B7EC6); d = HH(d, a, b, c, x[k + 0], S32, 0xEAA127FA);\n        c = HH(c, d, a, b, x[k + 3], S33, 0xD4EF3085); b = HH(b, c, d, a, x[k + 6], S34, 0x04881D05);\n        a = HH(a, b, c, d, x[k + 9], S31, 0xD9D4D039); d = HH(d, a, b, c, x[k + 12], S32, 0xE6DB99E5);\n        c = HH(c, d, a, b, x[k + 15], S33, 0x1FA27CF8); b = HH(b, c, d, a, x[k + 2], S34, 0xC4AC5665);\n        a = II(a, b, c, d, x[k + 0], S41, 0xF4292244); d = II(d, a, b, c, x[k + 7], S42, 0x432AFF97);\n        c = II(c, d, a, b, x[k + 14], S43, 0xAB9423A7); b = II(b, c, d, a, x[k + 5], S44, 0xFC93A039);\n        a = II(a, b, c, d, x[k + 12], S41, 0x655B59C3); d = II(d, a, b, c, x[k + 3], S42, 0x8F0CCC92);\n        c = II(c, d, a, b, x[k + 10], S43, 0xFFEFF47D); b = II(b, c, d, a, x[k + 1], S44, 0x85845DD1);\n        a = II(a, b, c, d, x[k + 8], S41, 0x6FA87E4F); d = II(d, a, b, c, x[k + 15], S42, 0xFE2CE6E0);\n        c = II(c, d, a, b, x[k + 6], S43, 0xA3014314); b = II(b, c, d, a, x[k + 13], S44, 0x4E0811A1);\n        a = II(a, b, c, d, x[k + 4], S41, 0xF7537E82); d = II(d, a, b, c, x[k + 11], S42, 0xBD3AF235);\n        c = II(c, d, a, b, x[k + 2], S43, 0x2AD7D2BB); b = II(b, c, d, a, x[k + 9], S44, 0xEB86D391);\n        a = addUnsigned(a, AA); b = addUnsigned(b, BB); c = addUnsigned(c, CC); d = addUnsigned(d, DD);\n    }\n    var temp = wordToHex(a) + wordToHex(b) + wordToHex(c) + wordToHex(d);\n    return temp.toLowerCase();\n}\n\n// 4. 計算 CheckMacValue\nconst sortedKeys = Object.keys(ecpayParams).sort();\nlet checkStr = `HashKey=${HASH_KEY}&`;\nfor (const key of sortedKeys) {\n    checkStr += `${key}=${ecpayParams[key]}&`;\n}\ncheckStr += `HashIV=${HASH_IV}`;\n\nconst encodedValue = ecpayUrlEncode(checkStr).toLowerCase();\nconst checkMacValue = md5(encodedValue).toUpperCase();\n\necpayParams.CheckMacValue = checkMacValue;\n\nreturn {\n    success: true,\n    paymentUrl: ECPAY_URL,\n    ecpayParams: ecpayParams\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2592
      ],
      "id": "68b37d16-33d5-4150-b4ea-ad2cbe6e22ab",
      "name": "綠界驗證"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        2768
      ],
      "id": "6e408a4b-ebf0-4395-b4db-b607a73e8197",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "\n// ===== 綠界金鑰 =====\nconst HASH_KEY = 'jR0x6VkCq8XyCKPV';\nconst HASH_IV = '8FEOgzZkipv14N1H';\n\n// ===== 取得綠界 POST 過來的資料 =====\nconst ecpayData = $json.body;\n\nconsole.log('收到綠界付款結果通知:', JSON.stringify(ecpayData, null, 2));\n\n// ===== 綠界專用 URL Encode =====\nfunction ecpayUrlEncode(str) {\n    let encoded = encodeURIComponent(str);\n    encoded = encoded.replace(/%2d/gi, '-').replace(/%5f/gi, '_').replace(/%2e/gi, '.')\n        .replace(/%21/gi, '!').replace(/%2a/gi, '*').replace(/%28/gi, '(')\n        .replace(/%29/gi, ')').replace(/%20/gi, '+');\n    return encoded;\n}\n\n// ===== 純 JS 版 MD5 實作 =====\nfunction md5(string) {\n    function rotateLeft(lValue, iShiftBits) { return (lValue << iShiftBits) | (lValue >>> (32 - iShiftBits)); }\n    function addUnsigned(lX, lY) {\n        var lX8, lY8, lX4, lY4, lResult;\n        lX8 = (lX & 0x80000000); lY8 = (lY & 0x80000000);\n        lX4 = (lX & 0x40000000); lY4 = (lY & 0x40000000);\n        lResult = (lX & 0x3FFFFFFF) + (lY & 0x3FFFFFFF);\n        if (lX4 & lY4) return (lResult ^ 0x80000000 ^ lX8 ^ lY8);\n        if (lX4 | lY4) {\n            if (lResult & 0x40000000) return (lResult ^ 0xC0000000 ^ lX8 ^ lY8);\n            else return (lResult ^ 0x40000000 ^ lX8 ^ lY8);\n        } else return (lResult ^ lX8 ^ lY8);\n    }\n    function F(x, y, z) { return (x & y) | ((~x) & z); }\n    function G(x, y, z) { return (x & z) | (y & (~z)); }\n    function H(x, y, z) { return (x ^ y ^ z); }\n    function I(x, y, z) { return (y ^ (x | (~z))); }\n    function FF(a, b, c, d, x, s, ac) {\n        a = addUnsigned(a, addUnsigned(addUnsigned(F(b, c, d), x), ac));\n        return addUnsigned(rotateLeft(a, s), b);\n    }\n    function GG(a, b, c, d, x, s, ac) {\n        a = addUnsigned(a, addUnsigned(addUnsigned(G(b, c, d), x), ac));\n        return addUnsigned(rotateLeft(a, s), b);\n    }\n    function HH(a, b, c, d, x, s, ac) {\n        a = addUnsigned(a, addUnsigned(addUnsigned(H(b, c, d), x), ac));\n        return addUnsigned(rotateLeft(a, s), b);\n    }\n    function II(a, b, c, d, x, s, ac) {\n        a = addUnsigned(a, addUnsigned(addUnsigned(I(b, c, d), x), ac));\n        return addUnsigned(rotateLeft(a, s), b);\n    }\n    function convertToWordArray(string) {\n        var lWordCount;\n        var lMessageLength = string.length;\n        var lNumberOfWords_Temp1 = lMessageLength + 8;\n        var lNumberOfWords_Temp2 = (lNumberOfWords_Temp1 - (lNumberOfWords_Temp1 % 64)) / 64;\n        var lNumberOfWords = (lNumberOfWords_Temp2 + 1) * 16;\n        var lWordArray = Array(lNumberOfWords);\n        var lBytePosition = 0;\n        var lByteCount = 0;\n        while (lByteCount < lMessageLength) {\n            lWordCount = (lByteCount - (lByteCount % 4)) / 4;\n            lBytePosition = (lByteCount % 4) * 8;\n            lWordArray[lWordCount] = (lWordArray[lWordCount] | (string.charCodeAt(lByteCount) << lBytePosition));\n            lByteCount++;\n        }\n        lWordCount = (lByteCount - (lByteCount % 4)) / 4;\n        lBytePosition = (lByteCount % 4) * 8;\n        lWordArray[lWordCount] = lWordArray[lWordCount] | (0x80 << lBytePosition);\n        lWordArray[lNumberOfWords - 2] = lMessageLength << 3;\n        lWordArray[lNumberOfWords - 1] = lMessageLength >>> 29;\n        return lWordArray;\n    }\n    function wordToHex(lValue) {\n        var WordToHexValue = \"\", WordToHexValue_Temp = \"\", lByte, lCount;\n        for (lCount = 0; lCount <= 3; lCount++) {\n            lByte = (lValue >>> (lCount * 8)) & 255;\n            WordToHexValue_Temp = \"0\" + lByte.toString(16);\n            WordToHexValue = WordToHexValue + WordToHexValue_Temp.substr(WordToHexValue_Temp.length - 2, 2);\n        }\n        return WordToHexValue;\n    }\n    function utf8Encode(string) {\n        string = string.replace(/\\r\\n/g, \"\\n\");\n        var utftext = \"\";\n        for (var n = 0; n < string.length; n++) {\n            var c = string.charCodeAt(n);\n            if (c < 128) {\n                utftext += String.fromCharCode(c);\n            } else if ((c > 127) && (c < 2048)) {\n                utftext += String.fromCharCode((c >> 6) | 192);\n                utftext += String.fromCharCode((c & 63) | 128);\n            } else {\n                utftext += String.fromCharCode((c >> 12) | 224);\n                utftext += String.fromCharCode(((c >> 6) & 63) | 128);\n                utftext += String.fromCharCode((c & 63) | 128);\n            }\n        }\n        return utftext;\n    }\n    var x = Array();\n    var k, AA, BB, CC, DD, a, b, c, d;\n    var S11 = 7, S12 = 12, S13 = 17, S14 = 22;\n    var S21 = 5, S22 = 9, S23 = 14, S24 = 20;\n    var S31 = 4, S32 = 11, S33 = 16, S34 = 23;\n    var S41 = 6, S42 = 10, S43 = 15, S44 = 21;\n    string = utf8Encode(string);\n    x = convertToWordArray(string);\n    a = 0x67452301; b = 0xEFCDAB89; c = 0x98BADCFE; d = 0x10325476;\n    for (k = 0; k < x.length; k += 16) {\n        AA = a; BB = b; CC = c; DD = d;\n        a = FF(a, b, c, d, x[k + 0], S11, 0xD76AA478); d = FF(d, a, b, c, x[k + 1], S12, 0xE8C7B756);\n        c = FF(c, d, a, b, x[k + 2], S13, 0x242070DB); b = FF(b, c, d, a, x[k + 3], S14, 0xC1BDCEEE);\n        a = FF(a, b, c, d, x[k + 4], S11, 0xF57C0FAF); d = FF(d, a, b, c, x[k + 5], S12, 0x4787C62A);\n        c = FF(c, d, a, b, x[k + 6], S13, 0xA8304613); b = FF(b, c, d, a, x[k + 7], S14, 0xFD469501);\n        a = FF(a, b, c, d, x[k + 8], S11, 0x698098D8); d = FF(d, a, b, c, x[k + 9], S12, 0x8B44F7AF);\n        c = FF(c, d, a, b, x[k + 10], S13, 0xFFFF5BB1); b = FF(b, c, d, a, x[k + 11], S14, 0x895CD7BE);\n        a = FF(a, b, c, d, x[k + 12], S11, 0x6B901122); d = FF(d, a, b, c, x[k + 13], S12, 0xFD987193);\n        c = FF(c, d, a, b, x[k + 14], S13, 0xA679438E); b = FF(b, c, d, a, x[k + 15], S14, 0x49B40821);\n        a = GG(a, b, c, d, x[k + 1], S21, 0xF61E2562); d = GG(d, a, b, c, x[k + 6], S22, 0xC040B340);\n        c = GG(c, d, a, b, x[k + 11], S23, 0x265E5A51); b = GG(b, c, d, a, x[k + 0], S24, 0xE9B6C7AA);\n        a = GG(a, b, c, d, x[k + 5], S21, 0xD62F105D); d = GG(d, a, b, c, x[k + 10], S22, 0x02441453);\n        c = GG(c, d, a, b, x[k + 15], S23, 0xD8A1E681); b = GG(b, c, d, a, x[k + 4], S24, 0xE7D3FBC8);\n        a = GG(a, b, c, d, x[k + 9], S21, 0x21E1CDE6); d = GG(d, a, b, c, x[k + 14], S22, 0xC33707D6);\n        c = GG(c, d, a, b, x[k + 3], S23, 0xF4D50D87); b = GG(b, c, d, a, x[k + 8], S24, 0x455A14ED);\n        a = GG(a, b, c, d, x[k + 13], S21, 0xA9E3E905); d = GG(d, a, b, c, x[k + 2], S22, 0xFCEFA3F8);\n        c = GG(c, d, a, b, x[k + 7], S23, 0x676F02D9); b = GG(b, c, d, a, x[k + 12], S24, 0x8D2A4C8A);\n        a = HH(a, b, c, d, x[k + 5], S31, 0xFFFA3942); d = HH(d, a, b, c, x[k + 8], S32, 0x8771F681);\n        c = HH(c, d, a, b, x[k + 11], S33, 0x6D9D6122); b = HH(b, c, d, a, x[k + 14], S34, 0xFDE5380C);\n        a = HH(a, b, c, d, x[k + 1], S31, 0xA4BEEA44); d = HH(d, a, b, c, x[k + 4], S32, 0x4BDECFA9);\n        c = HH(c, d, a, b, x[k + 7], S33, 0xF6BB4B60); b = HH(b, c, d, a, x[k + 10], S34, 0xBEBFBC70);\n        a = HH(a, b, c, d, x[k + 13], S31, 0x289B7EC6); d = HH(d, a, b, c, x[k + 0], S32, 0xEAA127FA);\n        c = HH(c, d, a, b, x[k + 3], S33, 0xD4EF3085); b = HH(b, c, d, a, x[k + 6], S34, 0x04881D05);\n        a = HH(a, b, c, d, x[k + 9], S31, 0xD9D4D039); d = HH(d, a, b, c, x[k + 12], S32, 0xE6DB99E5);\n        c = HH(c, d, a, b, x[k + 15], S33, 0x1FA27CF8); b = HH(b, c, d, a, x[k + 2], S34, 0xC4AC5665);\n        a = II(a, b, c, d, x[k + 0], S41, 0xF4292244); d = II(d, a, b, c, x[k + 7], S42, 0x432AFF97);\n        c = II(c, d, a, b, x[k + 14], S43, 0xAB9423A7); b = II(b, c, d, a, x[k + 5], S44, 0xFC93A039);\n        a = II(a, b, c, d, x[k + 12], S41, 0x655B59C3); d = II(d, a, b, c, x[k + 3], S42, 0x8F0CCC92);\n        c = II(c, d, a, b, x[k + 10], S43, 0xFFEFF47D); b = II(b, c, d, a, x[k + 1], S44, 0x85845DD1);\n        a = II(a, b, c, d, x[k + 8], S41, 0x6FA87E4F); d = II(d, a, b, c, x[k + 15], S42, 0xFE2CE6E0);\n        c = II(c, d, a, b, x[k + 6], S43, 0xA3014314); b = II(b, c, d, a, x[k + 13], S44, 0x4E0811A1);\n        a = II(a, b, c, d, x[k + 4], S41, 0xF7537E82); d = II(d, a, b, c, x[k + 11], S42, 0xBD3AF235);\n        c = II(c, d, a, b, x[k + 2], S43, 0x2AD7D2BB); b = II(b, c, d, a, x[k + 9], S44, 0xEB86D391);\n        a = addUnsigned(a, AA); b = addUnsigned(b, BB); c = addUnsigned(c, CC); d = addUnsigned(d, DD);\n    }\n    var temp = wordToHex(a) + wordToHex(b) + wordToHex(c) + wordToHex(d);\n    return temp.toLowerCase();\n}\n\n// ===== 驗證 CheckMacValue =====\nfunction verifyCheckMacValue(data, hashKey, hashIv) {\n    const receivedCheckMac = data.CheckMacValue;\n\n    // 複製並移除 CheckMacValue\n    const params = { ...data };\n    delete params.CheckMacValue;\n\n    // 按 key 排序\n    const sortedKeys = Object.keys(params).sort();\n\n    // 組成字串\n    let checkStr = `HashKey=${hashKey}&`;\n    for (const key of sortedKeys) {\n        checkStr += `${key}=${params[key]}&`;\n    }\n    checkStr += `HashIV=${hashIv}`;\n\n    // URL encode → 轉小寫 → MD5 → 轉大寫\n    checkStr = ecpayUrlEncode(checkStr);\n    checkStr = checkStr.toLowerCase();\n    const calculatedCheckMac = md5(checkStr).toUpperCase();\n\n    console.log('收到的 CheckMacValue:', receivedCheckMac);\n    console.log('計算的 CheckMacValue:', calculatedCheckMac);\n\n    return receivedCheckMac === calculatedCheckMac;\n}\n\n// ===== 執行驗證 =====\nconst isValid = verifyCheckMacValue(ecpayData, HASH_KEY, HASH_IV);\nconst isPaid = ecpayData.RtnCode === '1';\n\n// ===== 回傳結果 =====\nreturn {\n    json: {\n        isValid: isValid,\n        isPaid: isPaid,\n        orderId: ecpayData.MerchantTradeNo || '',\n        ecpayTradeNo: ecpayData.TradeNo || '',\n        rtnCode: ecpayData.RtnCode || '',\n        rtnMsg: ecpayData.RtnMsg || '',\n        tradeAmt: ecpayData.TradeAmt || '',\n        paymentDate: ecpayData.PaymentDate || '',\n        paymentType: ecpayData.PaymentType || '',\n        rawData: ecpayData\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        3088
      ],
      "id": "0e8e58a8-4fb3-4796-a2c5-c9b637659d89",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ipas-pay-result",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        3088
      ],
      "id": "47021b38-c5b1-4d35-835b-491ebafbff08",
      "name": "付款完成",
      "webhookId": "c8c7bc99-dfde-47d7-87c2-c7d3dd3fa4c6"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<html><head><meta charset=\"utf-8\"><title>付款成功</title></head><body><p>付款成功，正在跳轉...</p><script>window.location.href='https://nickleo9.github.io/GenAI/payment-success.html?payment=success&planType={{ $(\"金流\").first().json.body.plan }}&orderId={{ $(\"Code in JavaScript6\").first().json.orderId }}';\n';</script></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        3072
      ],
      "id": "da7e6a04-815d-4b0b-a562-c39fd5909a49",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "orderId",
              "condition": "eq",
              "keyValue": "={{ $json.rawData.MerchantTradeNo }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "member_level",
              "fieldValue": "付費會員"
            },
            {
              "fieldId": "paid_until",
              "fieldValue": "={{ $('Code in JavaScript6').first().json.tradeAmt >= 1999\n   ? $now.plus(365, 'days').toISO()\n   : $now.plus(30, 'days').toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        2912
      ],
      "id": "fe47fedc-5a79-4dd5-8a8d-d5d0ac5e17e2",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('金流').item.json.body.userId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "orderId",
              "fieldValue": "={{ $json.ecpayParams.MerchantTradeNo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        2592
      ],
      "id": "c29053c5-fe26-4047-a075-b70d58509474",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g",
          "mode": "list",
          "cachedResultName": "社群iPAS 題庫",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1350648105,
          "mode": "list",
          "cachedResultName": "「會員資料」(GOOGLE)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit#gid=1350648105"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "google_id": "={{ $('Update a row').first().json.user_id }}",
            "member_level": "付費會員",
            "paid_until": "={{ $json.paid_until }}"
          },
          "matchingColumns": [
            "google_id"
          ],
          "schema": [
            {
              "id": "google_id",
              "displayName": "google_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "member_level",
              "displayName": "member_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paid_until",
              "displayName": "paid_until",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "picture",
              "displayName": "picture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "register_date",
              "displayName": "register_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_sign_in_at",
              "displayName": "last_sign_in_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        2992
      ],
      "id": "23b82aff-dfe7-49d4-94a4-b1d4d0f16822",
      "name": "更新 google 帳號變成付費會員",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZZgkB5gxJYCEKFNR",
          "name": "nickleo3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g",
          "mode": "list",
          "cachedResultName": "社群iPAS 題庫",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 513684577,
          "mode": "list",
          "cachedResultName": "會員資料(LINE)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit#gid=513684577"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "line_user_id": "={{ $json.user_id }}",
            "member_level": "付費會員",
            "paid_until": "={{ $json.paid_until }}"
          },
          "matchingColumns": [
            "line_user_id"
          ],
          "schema": [
            {
              "id": "line_user_id",
              "displayName": "line_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "displayName",
              "displayName": "displayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "member_level",
              "displayName": "member_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paid_until",
              "displayName": "paid_until",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pictureUrl",
              "displayName": "pictureUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "register_date",
              "displayName": "register_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_login",
              "displayName": "last_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        2736
      ],
      "id": "2290617e-6eb1-4567-a994-b4df799ab102",
      "name": "更新 line 變成付費會員",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZZgkB5gxJYCEKFNR",
          "name": "nickleo3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"會員註冊成功，請升級為付費會員\",\n  \"needPayment\": true,\n  \"paymentUrl\": \"https://portaly.cc/zn.studio\",\n  \"user\": {\n    \"userId\": \"{{ $('處理用戶資料').first().json.line_user_id }}\",\n    \"displayName\": \"{{ $('處理用戶資料').first().json.displayName }}\",\n    \"memberLevel\": \"免費會員\",\n    \"pictureUrl\": \"{{ $('處理用戶資料').first().json.pictureUrl }}\"\n  },\n  \"creator\": {\n    \"name\": \"Nick Chang\",\n    \"email\": \"nickleo051216@gmail.com\",\n    \"phone\": \"0932-684-051\",\n    \"website\": \"https://portaly.cc/zn.studio\"\n  }\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2112,
        768
      ],
      "id": "5329b87b-9977-4f68-9b5c-a05ac51f0e39",
      "name": "回應：免費會員（需付費）"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8a8e8f8a-17bf-4f97-a1f7-13cd50b55fdf",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "9e782430-a790-4080-a9cc-503dfb703465",
              "leftValue": "={{ $json.isPaid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        3088
      ],
      "id": "27a26320-6e0d-4dc2-a3c1-08adb44668be",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"付款驗證失敗，請聯繫客服\",\n  \"isValid\": false,\n  \"isPaid\": false\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        3264
      ],
      "id": "5b127ce5-1d9b-4cd7-9a8a-efeb40ba639d",
      "name": "驗證失敗"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97fa8f06-38fd-419b-b487-91c1a1de6842",
              "leftValue": "={{ $json.user_id.startsWith('U') }}",
              "rightValue": "True",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        2912
      ],
      "id": "cf3f6597-3d3f-4ed0-a6d6-a8125b582330",
      "name": "LINE 用戶是 U 開頭"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.searchUserId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        160
      ],
      "id": "f9c96fa9-5944-41e4-bd11-22789052f3bc",
      "name": "Get a row2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RFeqT1SHp7ich50Q",
          "name": "nickleo051216 ipas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userData = $input.first().json;\n\n// Supabase 空結果通常回傳空陣列\nif (!userData || (Array.isArray(userData) && userData.length === 0)) {\n  return [{ json: { status: 'not_found', memberLevel: '免費會員', isPaid: false } }];\n}\n\nconst user = Array.isArray(userData) ? userData[0] : userData;\n\nconst isPaid = (\n  user.member_level === '付費會員' &&\n  (!user.paid_until || new Date(user.paid_until) > new Date())\n);\n\nreturn [{ json: {\n  status: 'found',\n  memberLevel: isPaid ? '付費會員' : '免費會員',\n  isPaid,\n  paid_until: user.paid_until || '',\n  userId: user.user_id,\n  displayName: user.displayName\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        160
      ],
      "id": "1f5a1f03-690d-4072-9756-991594a1a661",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst isPaid = (\n  data.member_level === '付費會員' &&\n  (!data.paid_until || new Date(data.paid_until) > new Date())\n);\nreturn [{ json: { ...data, isPaid } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        672
      ],
      "id": "c65bf320-6dd5-4271-ba15-28aa52369f71",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g",
          "mode": "list",
          "cachedResultName": "社群iPAS 題庫",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 513684577,
          "mode": "list",
          "cachedResultName": "會員資料(LINE)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FvOxZb46ek8N2kSH4QvVsS21IGKCqk-wr7WBljBve8g/edit#gid=513684577"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "line_user_id",
              "lookupValue": "={{ $json.line_user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        544
      ],
      "id": "8051e886-cd6d-4599-8152-92bc75de702e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZZgkB5gxJYCEKFNR",
          "name": "nickleo3"
        }
      }
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收 Webhook": {
      "main": [
        [
          {
            "node": "檢查是否為 OPTIONS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查是否為 OPTIONS": {
      "main": [
        [
          {
            "node": "回應 OPTIONS (CORS Preflight)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "兌換 Access Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得用戶資料": {
      "main": [
        [
          {
            "node": "處理用戶資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "處理用戶資料": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "儲存到 Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "儲存到 Google Sheets": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查會員等級": {
      "main": [
        [
          {
            "node": "回應：付費會員",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回應：免費會員（需付費）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "兌換 Access Token1": {
      "main": [
        [
          {
            "node": "取得用戶資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收前端請求": {
      "main": [
        [
          {
            "node": "處理資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "處理資料": {
      "main": [
        [
          {
            "node": "儲存到 practice_records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "儲存到 practice_records": {
      "main": [
        [
          {
            "node": "準備查詢條件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備查詢條件": {
      "main": [
        [
          {
            "node": "查詢今日使用量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查詢今日使用量": {
      "main": [
        [
          {
            "node": "判斷是否有記錄",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷是否有記錄": {
      "main": [
        [
          {
            "node": "準備更新資料",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "準備新增資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備更新資料": {
      "main": [
        [
          {
            "node": "更新每日使用量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新每日使用量": {
      "main": [
        [
          {
            "node": "回傳成功訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備新增資料": {
      "main": [
        [
          {
            "node": "新增每日使用量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增每日使用量": {
      "main": [
        [
          {
            "node": "回傳成功訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "新增新會員",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "更新舊會員資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "找出答錯的題目": {
      "main": [
        [
          {
            "node": "判斷: 是否有錯題?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷: 是否有錯題?": {
      "main": [
        [
          {
            "node": "回應: 沒有錯題",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查詢該錯題是否已存在": {
      "main": [
        [
          {
            "node": "判斷: 錯題是否已存在?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷: 錯題是否已存在?": {
      "main": [
        [
          {
            "node": "準備新增資料1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "準備更新資料1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新現有錯題": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增錯題記錄": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備更新資料1": {
      "main": [
        [
          {
            "node": "更新現有錯題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備新增資料1": {
      "main": [
        [
          {
            "node": "新增錯題記錄",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收前端請求錯誤題": {
      "main": [
        [
          {
            "node": "找出答錯的題目",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase Fetch User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Fetch User": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "有放大頭貼",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "有沒有登入過(沒有的話)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有沒有登入過(沒有的話)": {
      "main": [
        [
          {
            "node": "新增到 google User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "更新 google User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "回傳成功訊息1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "查詢該錯題是否已存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增到 User": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增到 google User": {
      "main": [
        [
          {
            "node": "新增到 User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有放大頭貼": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新 google User": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "金流": {
      "main": [
        [
          {
            "node": "綠界驗證",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "綠界驗證": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "付款完成": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "LINE 用戶是 U 開頭",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        []
      ]
    },
    "更新 google 帳號變成付費會員": {
      "main": [
        []
      ]
    },
    "更新 line 變成付費會員": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "驗證失敗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE 用戶是 U 開頭": {
      "main": [
        [
          {
            "node": "更新 line 變成付費會員",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "更新 google 帳號變成付費會員",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "檢查會員等級",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "金流": [
      {
        "headers": {
          "host": "nickleo9.zeabur.app",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
          "content-length": "76",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "zh-TW,zh;q=0.9,en-US;q=0.8,en;q=0.7",
          "content-type": "application/json",
          "origin": "https://nickleo9.github.io",
          "priority": "u=1, i",
          "referer": "https://nickleo9.github.io/",
          "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Google Chrome\";v=\"145\", \"Chromium\";v=\"145\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "114.37.83.209, 114.37.83.209",
          "x-forwarded-host": "nickleo9.zeabur.app",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-real-ip": "114.37.83.209",
          "x-zeabur-container-port": "5678",
          "x-zeabur-ip-country": "TW",
          "x-zeabur-request-id": "hnd1::9ca59360-6cdf-4b3f-b30a-cf1ff31f873f"
        },
        "params": {},
        "query": {},
        "body": {
          "userId": "U3e2b566b875944da659e729c2e42aadb",
          "plan": "monthly",
          "amount": 199
        },
        "webhookUrl": "https://nickleo9.zeabur.app/webhook/money",
        "executionMode": "production"
      }
    ],
    "付款完成": [
      {
        "headers": {
          "host": "nickleo9.zeabur.app",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
          "content-length": "776",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "zh-TW,zh;q=0.9,en-US;q=0.8,en;q=0.7",
          "cache-control": "max-age=0",
          "content-type": "application/x-www-form-urlencoded",
          "origin": "https://payment.ecpay.com.tw",
          "priority": "u=0, i",
          "referer": "https://payment.ecpay.com.tw/",
          "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Google Chrome\";v=\"145\", \"Chromium\";v=\"145\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "document",
          "sec-fetch-mode": "navigate",
          "sec-fetch-site": "cross-site",
          "upgrade-insecure-requests": "1",
          "x-forwarded-for": "114.37.83.209, 114.37.83.209",
          "x-forwarded-host": "nickleo9.zeabur.app",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-real-ip": "114.37.83.209",
          "x-zeabur-container-port": "5678",
          "x-zeabur-ip-country": "TW",
          "x-zeabur-request-id": "hnd1::8daf9b30-cfec-4b91-a44d-1e9cd0ec870c"
        },
        "params": {},
        "query": {},
        "body": {
          "AlipayID": "",
          "AlipayTradeNo": "",
          "amount": "199",
          "ATMAccBank": "",
          "ATMAccNo": "",
          "auth_code": "134962",
          "card4no": "4263",
          "card6no": "519936",
          "CustomField1": "",
          "CustomField2": "",
          "CustomField3": "",
          "CustomField4": "",
          "eci": "0",
          "ExecTimes": "",
          "Frequency": "",
          "gwsr": "151102674",
          "MerchantID": "3475994",
          "MerchantTradeNo": "IPAS1771923772800",
          "PayFrom": "",
          "PaymentDate": "2026/02/24 17:03:26",
          "PaymentNo": "",
          "PaymentType": "Credit_CreditCard",
          "PaymentTypeChargeFee": "7",
          "PeriodAmount": "",
          "PeriodType": "",
          "process_date": "2026/02/24 17:03:26",
          "red_dan": "0",
          "red_de_amt": "0",
          "red_ok_amt": "0",
          "red_yet": "0",
          "RtnCode": "1",
          "RtnMsg": "Succeeded",
          "SimulatePaid": "0",
          "staed": "0",
          "stage": "0",
          "stast": "0",
          "StoreID": "",
          "TenpayTradeNo": "",
          "TotalSuccessAmount": "",
          "TotalSuccessTimes": "",
          "TradeAmt": "199",
          "TradeDate": "2026/02/24 17:02:53",
          "TradeNo": "2602241702531683",
          "WebATMAccBank": "",
          "WebATMAccNo": "",
          "WebATMBankName": "",
          "CheckMacValue": "84E1B3F68395F020B8C8B5B45C311A14"
        },
        "webhookUrl": "https://nickleo9.zeabur.app/webhook/ipas-pay-result",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "045b337db1b2137df2bcf09177f16bf68cbe9e27bc92ad426e9dd633638b802f"
  }
}